.btn {
  background-color: #00af9a;
  border: none;
}

.btn-primary:hover {
  background-color: #240876;
}

.jumbotron {
  min-height: 630px;
  padding-top: 230px;
}

.about {
  min-height: 500px;
}

.blog {
  background: linear-gradient(#240876, #00af9a);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contact {
  margin-bottom: 50px;
}

.footer {
  background-color: #00af9a;
  padding: 10px;

  p {
    margin-top: 20px;
  }
}
